<div class="card">
    <div class="card-header">
        <h4 class="card-title">Active911 HUD</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            A custom application to provide a unique heads-up-display (HUD) for
            <span class="badge badge-danger">Active911</span>.
        </p>
    </div>
</div>