<div class="card">
    <div class="card-header">
        Active911 Authorization
    </div>
    <div class="card-body" id="oauth-card">
        <h4 class="card-title">Success!</h4>
        <p class="card-text">
            You have successfully authorized <span class="badge badge-primary">Active911 HUD</span>
            to read your <span class="badge badge-danger">Active911</span> data.
        </p>
    </div>
</div>
<script type="text/javascript">
    var qs = (function(a) {
        if (a == "") return {};
        var b = {};
        for (var i=0; i<a.length; i++){
            var p=a[i].split('=', 2);
            b[p[0]] = p.length === 1 ? '' : decodeURIComponent(p[1].replace(/\+/g, ' '));
        }
        return b;
    })(window.location.search.substr(1).split('&'));

    var oauthCard = document.getElementById('oauth-card');
    if (qs && typeof qs['code'] !== 'undefined') {
        var link = document.createElement('a');
        link.className = 'btn btn-primary';
        link.href = 'active911hud://oauth-code=' + qs['code'];
        link.innerText = 'Launch Active911 HUD';
        oauthCard.appendChild(link);
    }
    else {
        var elem = document.createElement('div');
        elem.className = 'alert alert-danger';
        elem.role = 'alert';
        elem.innerText = 'An error has occurred.  Please try the authorization again.';

        var children = oauthCard.children, i;
        for (i=children.length-1; i>=0; i--) {
            oauthCard.removeChild(children[i]);
        }

        oauthCard.appendChild(elem);
    }
</script>