<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Active911 HUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/lib/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="styles/lib/octicons.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        const octicons = require('octicons');
        const {sprintf} = require('sprintf-js');
        let active911Settings = remote.getGlobal('active911Settings'),
            active911 = remote.getGlobal('active911');
        window.$ = window.jQuery = require("jquery");
    </script>
</head>
<body id="active911-hud">
    <nav class="navbar navbar-expand sticky-top bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3 class="navbar-brand">
                    <img alt="Active911 HUD" src="images/logo.png" />
                    <span id="active911:agency">Active911 HUD</span>
                </h3>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-center">
                    <h2>Active Alert</h2>
                </div>
                <p class="navbar-right">
                    <span id="current-time"></span>
                    <button class="btn btn-info" type="button" id="active911:open-settings">
                        <script>document.write(octicons.gear.toSVG({ "height": 22 }))</script>
                    </button>
                    <button class="btn btn-danger" type="button" id="active911:exit">
                        <script>document.write(octicons.x.toSVG({ "height": 22 }))</script>
                    </button>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="active911:wrapper">
            <div class="col-lg-6">
                <div id="active911:active-alert-container"></div>
                <ul id="active911:alert-list">

                </ul>
            </div>
            <div class="col-lg-6" id="active911:map"></div>
        </div>
    </div>
    <div id="active911:settings" class="bg-light">
        <nav class="navbar sticky-top bg-dark">
            <div class="navbar-header">
                <h3 class="navbar-brand">
                    <button class="btn btn-danger navbar-btn" id="active911:close-settings">
                        <script>document.write(octicons.x.toSVG({ "height": 22 }))</script>
                    </button>
                    <span class="text-light">Settings</span>
                </h3>
            </div>
        </nav>
        <div class="container-fluid">
            <form>
                <div class="card my-3">
                    <h3 class="card-header">Active911 Settings</h3>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="active911:token">Access Token</label>
                            <input id="active911:token" class="form-control-plaintext"
                               data-bind="text: active911auth.token.access_token, value: active911auth.token.access_token" readonly />
                            <p class="form-text text-muted">This token will automatically refresh before it expires.</p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="active911:alerts-time-frame">Alerts Time Frame</label>
                            <div class="input-group">
                                <input id="active911:alerts-time-frame" class="form-control"
                                       data-bind="text: active911.alerts.timeFrame, value: active911.alerts.timeFrame" />
                                <div class="input-group-append">
                                    <span class="input-group-text">minutes</span>
                                </div>
                            </div>
                            <p class="form-text text-muted">Load alerts within the last
                                <span data-bind="text: active911.alertsTimeFrame"></span> minutes
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="active911:active-alert-age">Active Alert Age</label>
                            <div class="input-group">
                                <input id="active911:active-alert-age" class="form-control"
                                       data-bind="text: active911.alerts.activeAlertAge, value: active911.alerts.activeAlertAge" />
                                <div class="input-group-append">
                                    <span class="input-group-text">minutes</span>
                                </div>
                            </div>
                            <p class="form-text text-muted">Remove alerts from alert list after this age</p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="active911:clear-alerts-after">Clear Old Alerts</label>
                            <div class="input-group">
                                <input id="active911:clear-alerts-after" class="form-control"
                                       data-bind="text: active911.alerts.clearAfter, value: active911.alerts.clearAfter" />
                                <div class="input-group-append">
                                    <span class="input-group-text">minutes</span>
                                </div>
                            </div>
                            <p class="form-text text-muted">Remove alerts from alert list after this age</p>
                        </div>
                        <!--
                        <div class="form-group" data-dependent="{&quot;active911:clear-old-alerts&quot;: &quot;1&quot;}">
                            <label for="active911:clear-old-alerts-limit" class="control-label">Clear Old Alerts Limit</label>
                            <input id="active911:clear-old-alerts-limit" class="form-control" />
                        </div>
                        -->
                    </div>
                </div>

                <div class="card my-3">
                    <h3 class="card-header">Google Maps Settings</h3>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="active911:google-maps-api" class="control-label">API Key</label>
                            <input class="form-control"
                                   id="active911:google-maps-api"
                                   data-bind="value: googleMapsApiKey"
                                   placeholder="AIzaSyAyyhI02wTeD6FE5NTx_WH06Qcj5p7NaJk" />
                            <p class="form-text text-muted">
                                Get your google maps API key by following the instructions found
                                <span id="launch-google" class="text-info">here</span>.
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="active911:googleMaps:geocode" class="control-label">Map Center</label>
                            <div class="input-group">
                                <input class="form-control"
                                       id="active911:googleMaps:geocode"
                                       placeholder="1600 Pennsylvania Ave, Washington D.C. 20202"
                                       data-bind="text: googleMaps.centerAddress, value: googleMaps.centerAddress" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info" id="active911:google-maps:lookup-location">
                                        <script>document.write(octicons.search.toSVG({ "height": 22 }))</script>
                                        <span class="sr-only">Lookup</span>
                                    </button>
                                </span>
                            </div>
                            <p class="help-block">
                                <ul>
                                    <li>Latitude: <strong data-bind="text: googleMaps.center.lat"></strong></li>
                                    <li>Longitude: <strong data-bind="text: googleMaps.center.lng"></strong></li>
                                </ul>
                            </p>
                            <div id="active911:geocoding">
                                <h3>Looking Up Address &hellip;</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="active911:googleMaps:zoom"
                                   class="form-text control-label"
                                   id="active911:googleMaps:zoom-value">
                                Zoom Level:
                                <span class="text-success font-weight-bold"></span>
                            </label>
                            <span class="text-info">Farther</span>
                            <input class="form-control"
                                   id="active911:googleMaps:zoom"
                                   data-bind="value: googleMaps.zoom"
                                   data-provide="slider"
                                   data-slider-min="1"
                                   data-slider-max="18"
                                   data-slider-step="1"
                                   data-slider-value="7"
                            />
                            <span class="text-info">Closer</span>
                            <p class="form-text text-muted">Use the slider above to change the zoom level of the map.</p>
                        </div>
                        <div class="form-group">
                            <label for="active911:googleMaps:mapTypeId" class="control-label">Map Type</label>
                            <select id="active911:googleMaps:mapTypeId" class="form-control"
                                    data-bind="value: googleMaps.mapTypeId">
                                <option value="roadmap" selected>Roadmap</option>
                                <option value="satellite">Satellite</option>
                                <option value="terrain">Terrain</option>
                                <option value="hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="active911:settings-save">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                </button>
            </form>
        </div>
    </div>
    <div id="active911:active-alert-template">
        <div role="alert">
            <div class="card">
                <div class="card-header bg-primary"><h3 class="location-name"></h3></div>
                <div class="card-body">
                    <div class="row">
                        <address class="col-lg-6"></address>
                        <p class="col-lg-6 description"></p>
                    </div>
                    <div class="row">
                        <ul class="col-lg-6 responses"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="active911:alert-list-template">
        <div role="list"></div>
    </div>
    <div id="active911:settings-overlay"></div>

    <script src="js/lib/popper.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap-slider.min.js"></script>
    <script src="js/lib/knockout.js"></script>
    <script src="js/knockout.mapping.js"></script>
    <script src="js/dependent-fields.jquery.js"></script>
    <script src="js/active911HUD.map.js"></script>
    <script src="js/active911HUD.monitor.js"></script>
</body>
</html>