<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Active911 HUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/lib/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        let active911Settings = remote.getGlobal('active911Settings');
        let active911 = remote.getGlobal('active911');
    </script>
</head>
<body id="active911-hud">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3 class="navbar-brand">
                    <img alt="Active911 HUD" src="images/logo.png" />
                    <span id="active911:agency">Active911 HUD</span>
                </h3>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <p class="navbar-right">
                    <button class="btn btn-default btn-info navbar-btn" type="button" id="active911:open-settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                    <button class="btn btn-danger navbar-btn" type="button" id="active911:exit">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="active911:wrapper">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12" id="active911:active-alert"></div>
                    <div class="col-lg-12" id="active911:alerts"></div>
                </div>
            </div>
            <div class="col-lg-6" id="active911:map"></div>
        </div>
    </div>
    <div id="active911:settings">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3 class="navbar-brand">
                        <button class="btn btn-danger navbar-btn" id="active911:close-settings">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        Settings
                    </h3>
                </div>
            </div>
        </nav>
    </div>
    <script>window.$ = window.jQuery = require("../js/lib/jquery.min.js");</script>
    <script src="js/lib/popper.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/active911HUD.map.js"></script>
    <script>
        let active911Map;

        if (active911Settings.getGoogleMapsApiKey()) {
            active911Map = new Active911HUDMap(
                $('#active911\\:map'),
                active911Settings.getGoogleMapsApiKey(),
                "googleMapInitializeCallback"
            );
        }

        $('#active911\\:agency').html('Winfield VFD');

        $('#active911\\:exit').on('click', (e) => {
            e.stopPropagation();
            ipcRenderer.send('exit-application');
        });

        $('#active911\\:open-settings').on('click', (e) => {
            e.stopPropagation();
            $('#active911\\:settings').addClass('open');
        });
        $('#active911\\:close-settings').on('click', (e) => {
            e.stopPropagation();
            $('#active911\\:settings').removeClass('open');
        })

        function googleMapInitializeCallback() {
            active911Map.initialize();
        }
    </script>
</body>
</html>