<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Authorization - Active 911 HUD</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        let active911Settings = remote.getGlobal('active911Settings'),
            active911 = remote.getGlobal('active911');
        window.$ = window.jQuery = require('jquery');
    </script>
</head>
<body class="oauth-window">
<div id="wrapper">
    <div id="logo"><h2>Active 911 Authorization</h2></div>
    <div id="content-area">
        <iframe id="oauth-window"></iframe>
    </div>
</div>
<script>
    ipcRenderer.on('load-oauth-url', (event, data) => {
        // $('#oauth-window')[0].src = data.url;
        console.log('Loading oauth URL: ' + data.url);
    });

    $(document).ready(function () {
        $('#oauth-window').on('load', () => {
            if (/:\/\/(?:www\.)?winfieldvfd\.org\//.test($('#oauth-window')[0].contentWindow.location.href)) {
                let uri = active911.parseURI($('#oauth-window')[0].contentWindow.location.href);
                if (uri && uri.queryKey && uri.queryKey.code) {
                    active911.exchangeAuthToken(uri.queryKey.code);
                } else {
                    ipcMain.send('oauth-error');
                }
            }
        });
    });
</script>
</body>
</html>