<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Settings</title>
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/lib/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const shell = require('electron').shell;
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        const active911Settings = remote.getGlobal('active911Settings');
        window.$ = window.jQuery = require("jquery");
    </script>
</head>
<body id="settings-window">
<div class="container">
    <form>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Google Maps Settings</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="active911:google-maps-api">Goole Maps API Key</label>
                    <input class="form-control" id="active911:google-maps-api" placeholder="AIzaSyAyyhI02wTeD6FE5NTx_WH06Qcj5p7NaJk" />
                    <p class="help-block">
                        Get your google maps API key by following the instructions found
                        <a id="launch-google" href="#" class="text-info">here</a>.
                    </p>
                </div>
            </div>
        </div>

        <button id="save" class="btn btn-primary">Save</button>
    </form>
</div>
<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript">
    let token = active911Settings.getOauthToken();
    if (token) {
        $('#active911\\:token').val(token.access_token);
    }

    $('#launch-google').on('click', (e) => {
        e.preventDefault();
        shell.openExternal('https://developers.google.com/maps/documentation/javascript/get-api-key');
    });

    $('#save').on('click', (e) => {
        e.preventDefault();
        active911Settings.setGoogleMapsApiKey($('#active911\\:google-maps-api').val());
        ipcRenderer.send('settings-saved');
    });
</script>
</body>
</html>