<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css" />
    <style type="text/css">
        body { padding: 0; margin: 0; background: transparent; }
    </style>
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        const active911Settings = remote.getGlobal('active911Settings');

        window.$ = window.jQuery = require('jquery');
        require('hammerjs');
        require('materialize-css');
    </script>
</head>
<body class="settings-window">
<form>
    <div class="card horizontal grey lighten-5">
        <div class="card-image">
            <img src="images/logo-splash.png" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title red-text darken-2">HUD Settings</span>
                <div class="card-panel red darken-2 white-text" id="error-wrapper" style="display: none;">
                    <i class="material-icons left">error_outline</i>
                    <span id="error-message"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="accessToken" />
                    <label for="accessToken">Access Token</label>
                </div>
                <div class="input-field">
                    <input type="text" id="refreshToken" />
                    <label for="refreshToken">Refresh Token</label>
                </div>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-blue" id="refresh">
                    Refresh Token
                    <i class="material-icons right">refresh</i>
                </button>
                <button class="btn waves-effect waves-green" id="save">
                    Save
                    <i class="material-icons right">save</i>
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $('#exit').on('click', () => {
        let win = remote.getCurrentWindow();
        win.close();
    });
    ipcRenderer.on('show-login-error', (evt, message) => {
        $('#error-message').html(message);
        $('#error-wrapper').show();
    });
    $('#save').on('click', (e) => {
    });

    /*
    $('#agency').val(iarSettings.get('auth.agency'));
    $('#username').val(iarSettings.get('auth.username'));
    $('#password').val(iarSettings.get('auth.password'));

    $('#doLogin').on('click', (e) => {
        e.preventDefault();
        iarSettings.set('auth.agency', $('#agency').val())
            .set('auth.username', $('#username').val())
            .set('auth.password', $('#password').val())
            .set('general.autostart', $('#autostart').prop('checked'))
            .save();

        ipcRenderer.send('settings-saved');
    });
    */
</script>
</body>
</html>