<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Startup - Active911 HUD</title>
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/lib/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        let active911Settings = remote.getGlobal('active911Settings'),
            active911 = remote.getGlobal('active911');
        window.$ = window.jQuery = require("jquery");
    </script>
</head>
<body class="splash-window">
    <div id="wrapper">
        <div id="logo">Active 911 HUD</div>
        <div id="status-bar" class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animated bg-primary"
                 role="progressbar" style="width: 0%">
            </div>
        </div>
    </div>

    <script src="js/lib/popper.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>

    <script>
        function updateStatus(barWidth) {
            if (typeof barWidth !== "undefined" && barWidth >= 0 && barWidth <= 100) {
                $('#status-bar > .progress-bar').animate({width: barWidth + '%'}, 200);
            }
        }

        ipcRenderer.on('add-status-message', (evt, barWidth) => {
            updateStatus(barWidth);
        });

        ipcRenderer.on('main-window-ready', () => {
            updateStatus(100);
            setTimeout(() => {ipcRenderer.send('splash-complete'); }, 1000);
        });

        $(document).ready(function () {
            updateStatus(45);
            ipcRenderer.send('check-oauth');
        })
    </script>
</body>
</html>