<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Startup - Active 911 HUD</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/splash.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        window.$ = window.jQuery = require('jquery');
        let active911Settings = remote.getGlobal('active911Settings');
        let active911 = remote.getGlobal('active911');
    </script>
</head>
<body class="splash-window">
    <div id="wrapper">
        <div id="logo">Active 911</div>
        <div id="content-area">
            <ul id="console">
                <li>Initializing &hellip;</li>
            </ul>
        </div>
        <div id="status-bar">
            <span class="fill-bar"></span>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        function updateStatusMessage(message, barWidth) {
            if (typeof barWidth !== "undefined" && barWidth >= 0 && barWidth <= 100) {
                $('#status-bar').animate({width: barWidth + '%'}, 200);
            }

            $('#console').append('<li>' + message + '</li>');
            $('#console')[0].scrollTop = $('#console').scrollHeight;
        }

        ipcRenderer.on('main-window-ready', () => {
            updateStatusMessage("Launching &hellip;", 100);
            ipcRenderer.send('splash-complete');
        });

        ipcRenderer.on('oauth-complete', () => {
            updateStatusMessage("Loading HUD &hellip;", 75);
            ipcRenderer.send('load-hud');
        });

        $(document).ready(function () {
            updateStatusMessage('Checking Authentication &hellip;', 25);
            ipcRenderer.send('check-oauth');
        })
    </script>
</body>
</html>