<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="../" />
    <title>Startup - Active911 HUD</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script>
        const remote = require('electron').remote;
        const ipcRenderer = require('electron').ipcRenderer;
        let active911Settings = remote.getGlobal('active911Settings');
        let active911 = remote.getGlobal('active911');
    </script>
</head>
<body class="splash-window">
    <div id="wrapper">
        <div id="logo">Active 911</div>
        <div id="content-area">
            <ul id="console">
                <li>Initializing &hellip;</li>
            </ul>
        </div>
        <div id="status-bar" class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 0%">
            </div>
        </div>
    </div>

    <script>window.$ = window.jQuery = require("../js/jquery.min.js");</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        function updateStatusMessage(message, barWidth) {
            if (typeof barWidth !== "undefined" && barWidth >= 0 && barWidth <= 100) {
                $('#status-bar > .progress-bar').animate({width: barWidth + '%'}, 200);
            }

            if (message) $('#console').append('<li>' + message + '</li>');

            $('#console')[0].scrollTop = $('#console').scrollHeight;
        }

        ipcRenderer.on('add-status-message', (evt, message, barWidth) => {
            updateStatusMessage(message, barWidth);
        });

        ipcRenderer.on('main-window-ready', () => {
            updateStatusMessage("Launching &hellip;", 100);
            ipcRenderer.send('splash-complete');
        });

        $(document).ready(function () {
            updateStatusMessage('Checking Authentication &hellip;', 10);
            ipcRenderer.send('check-oauth');
        })
    </script>
</body>
</html>