body#active911-hud {
  height: 100%;
  width: 100%;

  overflow: hidden;

  >nav {
    margin-bottom: 0;
    -webkit-app-region: drag;

    .navbar-center {
      h2 {
        display: none;
      }
    }
  }

  >nav.bg-active-alert {
    color: white;

    .navbar-center {
      h2 {
        display: block;
      }
    }
  }

  nav {
    cursor: default;

    .navbar-brand {
      margin: 4px 0;
      padding: 0 15px;
      line-height: 36px;
      height: 36px;

      img {
        display: inline;
        height: 36px;
      }
    }

    div.navbar-center {
      margin: 0 auto;
    }

    p.navbar-right {
      margin-left: 0;
      margin-right: 0;

      span#current-time {
        font-size: 24px;
        font-weight: bold;
        line-height: 44px;

        display: inline-block;
        vertical-align: middle;

        padding: 6px 8px;

        width: 6em;
      }

      button {
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
    }
  }

  #active911\:wrapper {
    height: 936px;

    .col-lg-6 {
      height: 100%;
    }
  }

  #active911\:settings {
    box-shadow: 4px 0 10px 8px #939393;

    bottom: 0;
    position: fixed;
    right: -650px;
    top: 0;
    overflow-x: hidden;

    width: 640px;

    z-index: 10000;
    transition: 0.5s;

    .navbar {
      border-radius: 0;
      position: relative;
      z-index: 10001;

      .navbar-header {
        width: 100%;

        .navbar-brand {
          width: 100%;

          button.btn,
          #active911\:close-settings {
            float: right;
            cursor: pointer;
            margin: 0 10px 0 0;
            -webkit-app-region: no-drag;
          }

          #active911\:close-settings {
            margin-right: 0;
          }
        }
      }
    }

    .form-group {
      position: relative;

      #active911\:alerts-time-frame,
      #active911\:active-alert-age,
      #active911\:clear-alerts-after {
        width: 10em;
        flex-grow: 0;
      }

      #launch-google, #launch-google:link, #launch-google:visited {
        cursor: pointer;
      }

      #launch-google:hover, #launch-google:active {
        text-decoration: underline;
      }

      #active911\:geocoding {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background-color: rgba(104, 104, 104, 0.8);
        z-index: 10;

        display: none;

        h3 {
          color: white;
          text-align: center;
          text-shadow: 2px 2px 4px black;
        }
      }
    }
  }

  #active911\:settings.open {
    right: 0;
  }

  #active911\:settings-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
  }

  #active911\:wrapper {
    #active911\:active-alert-container {
      .card {
        margin-top: 15px;

        address {
          white-space: pre;
        }
      }
    }
  }

  #active911\:active-alert-template,
  #active911\:alert-list-template {
    display: none;
  }
}

.bg-active-alert {
  background: linear-gradient(270deg, #0055ca, #f70000);
  background-size: 400% 400%;
  animation: FlashingLights 0.9s ease infinite;
}

@keyframes FlashingLights {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  1000% { background-position: 0% 50% }

}