body#active911-hud {
  height: 1080px;
  width: 1920px;

  overflow: hidden;

  >nav {
    margin-bottom: 0;
    -webkit-app-region: drag;
  }

  nav {
    cursor: default;

    .navbar-brand {
      margin: 4px 0;
      padding: 0 15px;
      line-height: 36px;
      height: 36px;

      img {
        display: inline;
        height: 36px;
      }
    }

    p.navbar-right {
      margin-right: 0;

      button {
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
    }
  }

  #active911\:wrapper {
    height: 1018px;

    .col-lg-6 {
      height: 100%;
    }
  }

  #active911\:settings {
    background-color: #939393;

    box-shadow: 4px 0 10px 8px #939393;

    bottom: 0;
    position: fixed;
    right: -650px;
    top: 0;
    overflow-x: hidden;

    width: 640px;

    z-index: 10000;
    transition: 0.5s;

    .navbar {
      border-radius: 0;
      position: relative;
      z-index: 10001;

      .navbar-brand {
        #active911\:close-settings {
          cursor: pointer;
          margin: 0 10px 0 0;
          -webkit-app-region: no-drag;
        }
      }
    }

    .form-group {
      position: relative;

      #active911\:geocoding {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background-color: rgba(104, 104, 104, 0.8);
        z-index: 10;

        display: none;

        h3 {
          color: white;
          text-align: center;
          text-shadow: 2px 2px 4px black;
        }
      }
    }
  }

  #active911\:settings.open {
    right: 0;
  }

  #active911\:settings-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
  }
}