body#active911-hud {
  height: 100%;
  width: 100%;

  overflow: hidden;

  >nav {
    margin-bottom: 0;
    -webkit-app-region: drag;

    .navbar-center {
      h2 {
        display: none;
      }
    }
  }

  >nav.bg-active-alert {
    color: white;

    .navbar-center {
      h2 {
        display: block;
      }
    }
  }

  nav {
    cursor: default;

    .navbar-brand {
      margin: 4px 0;
      padding: 0 15px;
      line-height: 36px;
      height: 36px;

      img {
        display: inline;
        height: 36px;
      }
    }

    div.navbar-center {
      margin: 0 auto;
    }

    p.navbar-right {
      margin-left: 0;
      margin-right: 0;

      span#current-time {
        font-size: 24px;
        font-weight: bold;
        line-height: 44px;

        display: inline-block;
        vertical-align: middle;

        padding: 6px 8px;

        width: 6em;
      }

      button {
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
    }
  }

  #active911\:wrapper {
    height: 936px;

    .col-lg-6 {
      height: 100%;
    }
  }

  #active911\:settings {
    box-shadow: 4px 0 10px 8px #939393;

    left: 5%;
    position: fixed;
    top: 5%;
    overflow-x: hidden;
    opacity: 0;
    display: none;

    padding-top: 3%;

    height: 87%;
    width: 90%;

    z-index: 10000;
    transition: 0.5s;

    .navbar {
      border-radius: 0;
      position: fixed;
      z-index: 10001;
      top: 5%;
      width: 90%;

      .navbar-header {
        width: 100%;

        .navbar-brand {
          width: 100%;

          button.btn,
          #active911\:close-settings {
            float: right;
            cursor: pointer;
            margin: 0 10px 0 0;
            -webkit-app-region: no-drag;
          }

          #active911\:close-settings {
            margin-right: 0;
          }
        }
      }
    }

    .container-scroll {
      height: 100%;
      width: 100%;

      overflow: hidden;
      overflow-y: scroll;
    }

    .form-group {
      position: relative;

      #active911\:alerts-time-frame,
      #active911\:active-alert-age,
      #active911\:clear-alerts-after {
        width: 10em;
        flex-grow: 0;
      }

      #launch-google, #launch-google:link, #launch-google:visited {
        cursor: pointer;
      }

      #launch-google:hover, #launch-google:active {
        text-decoration: underline;
      }

      #active911\:geocoding {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        background-color: rgba(104, 104, 104, 0.8);
        z-index: 10;

        display: none;

        h3 {
          color: white;
          text-align: center;
          text-shadow: 2px 2px 4px black;
        }
      }

      #active911\:response-vocabulary-list {
        width: 100%;
        padding: 0;

        li {
          padding: 8px;
          display: flex;

          .handle {
            cursor: move;
          }

          .responseCode {
            input {
              width: 7em;
            }
          }

          .responseLabel {
            input {
              width: 12em;
            }
          }
        }

        .sortableChosen {
          opacity: 0.25;
        }

        .sortableGhost {
          opacity: 0.8;
        }
      }
    }
  }

  #active911\:settings.open {
    opacity: 1;
    display: block;
  }

  #active911\:settings-overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
  }

  #active911\:wrapper {
    #active911\:active-alert-container {
      height: 100%;

      .card {
        margin-top: 15px;

        address {
          white-space: pre;
        }
      }

      .responding-personnel {
        .card-body {
          .personnel {
            li:nth-child(even) {
              background-color: #e9ecef;
            }
          }
        }
      }
    }

    #active911\:alert-list {
      [role="list"] {
        .list-group-item {
          .alert-title {
            .number:before {
              content: '#';
            }

            .description {
              margin-left: 1.5em;
            }
          }
        }
      }
    }
  }

  #active911\:updating-alerts {
    .spinner {
      display: inline-block;
      margin: -12px 8px -8px 8px;
      overflow: hidden;
      position: relative;
      vertical-align: middle;

      height: 34px;
      width: 68px;

      &:before {
        content: '';

        bottom: 0;
        left: 2px;
        position: absolute;
        right: 2px;
        top: 16px;

        height: 3px;

        z-index: -1;
      }

      &:after {
        content: '';

        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 32" xml:space="preserve"><polyline stroke-width="3px" stroke="white" points="0,19.8 16.5,19.8 19.1,13.5 21.6,19.8 26,19.8 28,23.6 32.5,1.8 36.3,29.7 38.7,19.8 44.3,19.8 48.2,17.8 52.2,19.8 64,19.8 "/></svg>') 0 0 no-repeat;

        display: block;
        position: absolute;
        animation: 1.5s cardio linear infinite;

        height: 100%;
        width: 100%;

        clip: rect(0, 0, 32px, 0);
      }
    }
  }

  #active911\:active-alert-template,
  #active911\:alert-list-template {
    display: none;
  }
}

.bg-active-alert {
  background: linear-gradient(270deg, #0055ca, #f70000);
  background-size: 400% 400%;
  animation: FlashingLights 0.9s ease infinite;
}

@keyframes FlashingLights {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  1000% { background-position: 0% 50% }
}

@keyframes cardio {
  0% { clip: rect(0, 0, 32px, 0); opacity: 0.4; }
  4% { clip: rect(0, 10.666667px, 32px, 0); opacity: 0.6; }
  15% { clip: rect(0, 21.33344px, 32px, 0); opacity: 0.8; }
  20% { clip: rect(0, 64px, 32px, 0); opacity: 1; }
  30% { clip: rect(0, 64px 32px 0); opacity: 1; }
  34% { clip: rect(0, 64px, 32px, 42.66656px); opacity: 0.8; }
  45% { clip: rect(0, 64px, 32px, 53.33333px); opacity: 0.6; }
  50% { clip: rect(0, 64px, 32px, 64px); opacity: 0.4; }
  51% { clip: rect(0, 0, 32px, 0); opacity: 0.4; }
  54% { clip: rect(0, 10.666667px, 32px, 0); opacity: 0.6; }
  65% { clip: rect(0, 21.33344px, 32px, 0); opacity: 0.8; }
  70% { clip: rect(0, 64px, 32px, 0); opacity: 1; }
  80% { clip: rect(0, 64px 32px 0); opacity: 1; }
  84% { clip: rect(0, 64px, 32px, 42.66656px); opacity: 0.8; }
  95% { clip: rect(0, 64px, 32px, 53.33333px); opacity: 0.6; }
  100% { clip: rect(0, 64px, 32px, 64px); opacity: 0.4; }
}